{% extends "admin/change_list.html" %}
{% load humanize %}

{% block content_title %}
    <h1> Verres du Jour  </h1>
{% endblock %}


{% block extrahead %}
    <style>
      .container {
        display: flex;
        flex-direction: column;
      }
      .row {
        display: flex;
        flex-direction: row;
      }
      
      .col {
        flex: 1;
        padding: 8px;
      }
    </style>
{% endblock %}
{% block result_list %}
<div class="container">
  <h1 >{{magasin}}</h1>
  <div class="row">
    {% for tp in type_de_verre_values %}
      <div class="col">
       <h3> {{ tp.name }}</h3>
          {% for correction in corrections %}
          <div class="row">
              {% if correction.type_de_verre_id == tp.id %}
                {% if correction.spheric_glass %}
                  <div class="col">{{ correction.spher }}</div>
                {% else %}
                  <div class="col">{{ correction.cyl }} {{ correction.spher }}</div>
                {% endif %}
              {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  {% comment %} <h1>Bouria</h1>
  <div class="row">
    {% for tp in type_de_verre_values %}
      <div class="col">
       <h3> {{ tp.name }}</h3>
          {% for correction in corrections_bouira %}
          <div class="row">
              {% if correction.type_de_verre_id == tp.id %}
                {% if correction.spheric_glass %}
                  <div class="col">{{ correction.spher }}</div>
                {% else %}
                  <div class="col">{{ correction.cyl }} {{ correction.spher }}</div>
                {% endif %}
              {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div> {% endcomment %}
  
</div>
<!-- ... -->

{% endblock %}

{% block pagination %}{% endblock %}